<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/"
			><img
				src="https://i.postimg.cc/473J97Nk/MTV-Website-Header.png"
				border="0"
				alt="MTV-Website-Header"
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ml-auto">
				<a
					class="nav-item nav-link"
					target="_blank"
					rel="noopener noreferrer"
					style="color: white"
					href="http://bit.ly/blogmultiversetv"
					>Blog</a
				>
				<a
					class="nav-item nav-link"
					target="_blank"
					rel="noopener noreferrer"
					style="color: #c4302b"
					href="https://www.youtube.com/tvmultiverse28?sub_confirmation=1"
					>YouTube</a
				>
				<a
					class="nav-item nav-link"
					target="_blank"
					rel="noopener noreferrer"
					style="color: #dd2a7b"
					href="https://instagram.com/tvmultiverse28"
					>Instagram</a
				>
				<a
					class="nav-item nav-link"
					target="_blank"
					rel="noopener noreferrer"
					style="color: #00acee"
					href="https://twitter.com/tvmultiverse28"
					>Twitter</a
				>
				<a
					class="nav-item nav-link"
					target="_blank"
					rel="noopener noreferrer"
					style="color: #0e76a8"
					href="https://linkedin.com/company/tvmultiverse28"
					>LinkedIn</a
				>
				<a
					class="nav-item nav-link"
					target="_blank"
					rel="noopener noreferrer"
					style="color: #7289da"
					href="https://bit.ly/MULTIVERSETVDiscord"
					>Discord</a
				>
				<a
					class="nav-item nav-link"
					target="_blank"
					rel="noopener noreferrer"
					style="color: #0088cc"
					href="https://t.me/tvmultiverse28"
					>Telegram</a
				>
				<a
					class="nav-item nav-link"
					target="_blank"
					rel="noopener noreferrer"
					style="color: #b23121; padding-right: 0"
					href="mailto:tvmultiverse28@gmail.com"
					>Contact</a
				>
			</div>
		</div>
	</div>
</nav>