<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="/"
			><img
				src="https://i.postimg.cc/473J97Nk/MTV-Website-Header.png"
				border="0"
				alt="MTV-Website-Header"
		/></a>
		<button
			class="navbar-toggler"
			type="button"
			data-toggle="collapse"
			data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ml-auto">
				<a
					class="nav-item nav-link"
					rel="noopener noreferrer"
					style="color: #3b776b"
					href="/blogs"
					>Blogs</a
				>
				<a
					class="nav-item nav-link"
					rel="noopener noreferrer"
					style="color: #b2d35b"
					href="/videos"
					>Videos</a
				>
				<a
					class="nav-item nav-link"
					target="_blank"
					rel="noopener noreferrer"
					style="color: #bc3b7c"
					href="https://thelink.bio/tvmultiverse28"
				>
					Posts</a
				>
				<a
					class="nav-item nav-link"
					target="_blank"
					rel="noopener noreferrer"
					style="color: #b23121; padding-right: 0"
					href="mailto:hello@multiversetv.ml"
					>Contact</a
				>
			</div>
		</div>
	</div>
</nav>
