<html>
	<head>
		<!-- Link -->
		<%- include("partials/linkandscript") %>
		<link rel="stylesheet" href="/index/css/index.css" />
		<!-- End Link -->

		<!-- META -->
		<%- include("partials/meta") %>
		<meta
			property="og:image"
			content="https://i.postimg.cc/kMj6kxNF/Banner-TV.jpg"
		/>
		<meta property="og:title" content="MULTIVERSE TV" />
		<!-- End META -->

		<title>MULTIVERSE TV</title>
	</head>
	<body>
		<!-- Navbar -->
		<%- include("partials/navbar") %>
		<!-- End Navbar -->

		<div class="container my-5 d-flex flex-column">
			<table style="border-radius: 5px">
				<tr style="width: 100%">
					<td>
						<div class="jumbotron mb-0 py-4" style="background-color: #121212">
							<h1 class="display-5">Hello people!</h1>
							<p class="lead mb-0">
								Welcome to our
								<span style="color: #aed55f"><strong>Multiverse</strong></span
								>. We are a technology, science, business, and vlogs
								<span style="color: #c4302b"><strong>Media</strong></span>
								channel with an educational yet entertaining focus.
							</p>
						</div>
					</td>
				</tr>
				<tr style="width: 100%">
					<td>
						<div class="mt-4">
							<h3>Videos</h3>
						</div>
					</td>
				</tr>
				<tr style="width: 100%">
					<td>
						<div class="jumbotron mb-0 py-4" style="background-color: #121212">
							<p class="lead mb-0">
								We produce high quality videos like explainers, tutorials,
								vlogs, product reviews, etc. relating to our particular domain.
								Till date, all the content produced has been made with
								delivering best effort while providing value. We have now
								produced over 150 videos that you can enjoy for free.
							</p>
							<a
								class="btn btn mt-3 w-auto"
								style="background-color: #b2d35b"
								href="/videos"
								>Watch Videos</a
							>
						</div>
					</td>
				</tr>
				<tr style="width: 100%">
					<td>
						<div class="mt-4">
							<h3>Blogs</h3>
						</div>
					</td>
				</tr>
				<tr style="width: 100%">
					<td>
						<div class="jumbotron mb-0 py-4" style="background-color: #121212">
							<p class="lead mb-0">
								We also have published lots of blogs with core dept about
								businesses, scientific topics, business terms, technology with a
								focus of providing the most human readable form. We have over 50
								blogs explaining each topic in detail that you can read for
								free.
							</p>
							<a
								class="btn btn mt-3 w-auto"
								style="background-color: #3b776b"
								href="/blogs"
								>Read Blogs</a
							>
						</div>
					</td>
				</tr>
				<tr style="width: 100%">
					<td>
						<div class="mt-4">
							<h3>Community</h3>
						</div>
					</td>
				</tr>
				<tr style="width: 100%">
					<td>
						<div class="jumbotron mb-0 py-4" style="background-color: #121212">
							<p class="lead mb-0">
								We have a very active community that regularly engages about our
								core offerings and discuss about what the future holds. Be it
								politics, science, technology, travelling, we got all covered.
								Hop on in to engage and get lost in out Multiverse.
							</p>
							<a
								class="btn mt-3 w-auto"
								target="_blank"
								style="background-color: #7289da"
								href="https://dsc.gg/tvmultiverse28"
								>Join The Community</a
							>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</body>
	<%- include("partials/footerscript") %>
</html>
